/*
  =============================================================================
  _typography.scss
  =============================================================================

  ファイルの目的:
  このファイルはプロジェクト全体のタイポグラフィスタイルを定義します。
  フォントの設定、見出し、段落、リスト、リンク、引用、コードなどの基本的なテキスト要素のスタイルをカバーしています。

  =============================================================================
*/
@import '../abstracts/variables';

html,
body {
    font-family: $font-family;
    color: $text-color;
    background: $background-color;
}

main {
    background: $main-background;
}

header {
    color: $header-text-color;
    text-align: center;
}

footer {
    color: $footer-text-color;
    text-align: center;
}

button {
    color: white;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}