/*
  =============================================================================
  _typography.scss
  =============================================================================

  ファイルの目的:
  このファイルはプロジェクト全体のタイポグラフィスタイルを定義します。
  フォントの設定、見出し、段落、リスト、リンク、引用、コードなどの基本的なテキスト要素のスタイルをカバーしています。

  =============================================================================
*/
@import '../abstracts/variables';

html,
body {
    height: 100%;
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
}

// header {}

main {
    padding: 32px;
    background: $main-background;
    margin: 32px auto;
    max-width: 800px;
    box-shadow: $box-shadow;
}

section {
    margin-bottom: 32px;

    h2 {
        margin-bottom: 16px;
        color: $text-color;
    }
}

// footer {}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}