/*
  =============================================================================
  _typography.scss
  =============================================================================

  ファイルの目的:
  このファイルはプロジェクト全体のタイポグラフィスタイルを定義します。
  フォントの設定、見出し、段落、リスト、リンク、引用、コードなどの基本的なテキスト要素のスタイルをカバーしています。

  作者: eyamagishi

  作成日: 2024/07/06

  最終更新日: 2024/07/06

  注意事項:
  このファイルには、一般的なタイポグラフィスタイルのみを含め、
  特定のコンポーネントやページ固有のスタイルは別のファイルに分けてください。
  例: components/_button.scss, pages/_home.scssなど。

  =============================================================================
*/
html,
body {
    height: 100%;
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
}

header {
    background: $header-background;
    color: $header-text-color;
    padding: 16px 0;
    text-align: center;
}

main {
    padding: 32px;
    background: $main-background;
    margin: 32px auto;
    max-width: 800px;
    box-shadow: $box-shadow;
}

section {
    margin-bottom: 32px;

    h2 {
        margin-bottom: 16px;
        color: $text-color;
    }
}

footer {
    text-align: center;
    padding: 16px 0;
    background: $footer-background;
    color: $footer-text-color;
}
